<html lang="en">
    <%- include("./partials/head.ejs")  %>

    <body>

        <%- include("./partials/nav.ejs")  %>

        <div class="about content">
            <h2>Sobre nosotros</h2>
            <p>Un texto cualquiera algo largo</p>
            <p>Un texto cualquiera algo largo</p>
            <p>Un texto cualquiera algo largo</p>
        </div>

        <%- include("./partials/footer.ejs")  %>

    </body>
</html>
