<!-- Include Header -->
<%- include("partials/_header.ejs") %>

<!-- Cuerpo -->

<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex-justify-between">
            <a href="/add-user" class="border-shadow">
                <span class="text-gradient">New User<i class="material-symbols-outlined">person_add</i></span>
                
            </a>
        </div>
        <!-- Formulario -->
        <form action="/" method="POST">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>@Email</th>
                        <th>Gender</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Username</td>
                        <td>example@gmail.com</td>
                        <td>Male</td>
                        <td>Active</td>
                        <td>
                            <a href="#" class="btn border-shadow update">
                                <span class="text-gradient">
                                    <i class="material-symbols-outlined">edit</i>
                                </span>
                            </a>
                            <a href="#" class="btn border-shadow update">
                                <span class="text-gradient">
                                    <i class="material-symbols-outlined">delete</i>
                                </span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</main>

<!-- Include Footer -->
<%- include("partials/_footer.ejs") %>